{{#each comments as |comment| }}
<div class="row mb-4 project">
    <div class="col-md-5">
        <h2>
            {{comment.title}}
        </h2>
        <p>Created by {{comment.user.username}} on {{format_date comment.date_created}}</p>
    </div>
    <div class="col-md-7">
        <p>
            {{comment.content}}
        </p>
    </div>
</div>
{{/each}}