<div class="row">
  <div class="col-md-6">
    <h2>Comment</h2>

    <form class="form comment-form">
      <div class="form-group">
        <label for="comment-title">Title:</label>
        <input class="form-input" type="text" id="comment-title" />
      </div>
      <div class="form-group">
        <label for="comment-content">body:</label>
        <input class="form-input" type="text" id="comment-content" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Comment</a></button>
      </div>
    </form>
  </div>

  {{!-- <script src="/js/comment.js"></script> --}}