{{#each posts as |posts| }}
<div class="row mb-4 project">
    <div class="col-md-5">
        <h2>
            <p>{{title}}</p>
        </h2>
    </div>
    <div class="col-md-7">
        <p>
            {{format_date date_created}}
        </p>
    </div>
</div>
{{/each}}
<button id="create-post-btn">
    <a href="/dashboard/new">Create a post</a>
</button>