<div class="row">
  <div class="col-md-6">
    <h2>Post</h2>

    <form class="form post-form">
      <div class="form-group">
        <label for="post-title">Title:</label>
        <input class="form-input" type="text" id="post-title" />
      </div>
      <div class="form-group">
        <label for="post-content">body:</label>
        <input class="form-input" type="text" id="post-content" />
      </div>
      <div class="form-group">
        <button id = "post-submit-btn" class="btn btn-primary" type="submit">Post</a></button>
      </div>
    </form>
  </div>
  <script src="/js/dashboard.js"></script>